<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PI Controller</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../../hue_controller/public/stylesheets/style.css">
</head>

<body>
<div class="bs-docs-header" id="content" tabindex="-1">
  <div class="container">
    <h1>PI Controller</h1>
    <p>Control Web Thing!</p>
  </div>
</div>

<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-9" role="main">
      <div id="response">
        Response: <pre></pre>
      </div>

      <div class="bs-docs-section">

        <h2>LED</h2>
        <form id="led">
          <select id="color" name="color">
            <option value="joy">joy</option>
            <option value="sad">sad</option>
            <option value="anger">anger</option>
            <option value="fear">fear</option>
            <option value="surprise">surprise</option>
          </select>
          <button type="submit">Send</button>
        </form>
        <hr>
        <h2>Camera</h2>
        <button class="col-sm-4 btn btn-primary" id="shutter">Shutter</button>
        <h2>Picture</h2>
        <img id="camImg" width="480" height="320" src=""/>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        function changeColor() {
            $.ajax({ //#G
                method: 'PUT',
                url: '/led/',
                contentType: 'application/json',
                data: JSON.stringify({
                    mood: $('#color').val()
                }),
                dataType: 'json',
                processData: false,
                success: function (data) {
                    console.log(data);
                    $('#response pre').html( JSON.stringify( data ) );
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }


        function takePicture() {
            $.ajax({ //#G
                method: 'POST',
                url: '/camera/',
                contentType: 'application/json',
                data: JSON.stringify({
                    time: 0
                }),
                dataType: 'json',
                processData: false,
                success: function (data) {
                    console.log(data);
                    $('#camImg').attr('src', data.path); //#H
                    $('#response pre').html( JSON.stringify( data ) );
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
        $('#led').submit(changeColor);
        $('#shutter').click(takePicture);
    });
</script>
</body>
</html>
