<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My first WoT Mashup!</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
<h1>Pi Monitor</h1>
<div>
  <form id="led">
    <select id="color" name="color">
      <option value="joy">joy</option>
      <option value="sad">sad</option>
      <option value="anger">anger</option>
      <option value="fear">fear</option>
      <option value="surprise">surprise</option>
    </select>
    <button type="submit">Submit</button>
  </form>
  Camera:
  <button id="shutter">Shutter</button>
</div>
<img id="camImg" width="640" height="480" src="/images/pi.jpg"/>

<script type="text/javascript">
    $(document).ready(function () {
        function changeColor() {
            $.ajax({ //#G
                method: 'PUT',
                url: '/moods/',
                contentType: 'application/json',
                data: JSON.stringify({
                    value: $('#color').val()
                }),
                dataType: 'json',
                processData: false,
                success: function (data) {
                    console.log(data);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }


        function takePicture() {
            $.ajax({ //#G
                method: 'GET',
                url: '/actuators/camera/',
                dataType: 'json',
                processData: false,
                success: function (data) {
                    console.log(data);
                    $('#camImg').attr('src', data.path); //#H
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
        $('#led').submit(changeColor);
        $('#shutter').click(takePicture);
    });
</script>
</body>
</html>
